html {
  box-sizing: border-box;

  *,
  *::after,
  *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  body {
    font-family: 'Inter', sans-serif;
    font-style: 16px;
    font-weight: 400;
  }

  .container {
    background-color: grey;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;

    .header__inner {
      padding-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .menu {

        &__list {
          display: flex;
          gap: 35px;

          &-item {

            .menu__list-link {
              color: #ffffff;
              text-transform: uppercase;
              font-weight: 700;
            }
          }
        }
      }
    }

  }
}